.c9
.classpath
.dockerignore
.DS_Store
.git
.github
.gitignore
.idea
.project
.settings
.vscode
*.launch
*.log
*.sublime-workspace
Dockerfile
LICENSE
logs
node_modules
npm-debug.log
npm-debug.log
samples

.netlify/
.svelte-kit/
.vscode/
build/
coverage/
node_modules/
output/
report/